* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin-right: 10px;
  margin-top: 10px;
}
